.profile__image {
    width: 120px;
    object-fit: contain;
    background-repeat: no-repeat;
    margin: 0 18px 0 0;
    border-radius: 50%;
  }
  
  
  @media screen and (max-width: 540px) {
    .profile__image {
      margin: 0 0 26px;
    }
  }
  