.profile__image {
    width: 120px;
    /*height: 127px;*/
    object-fit: contain;
    /*background-size: 50% 50%;*/
    background-repeat: no-repeat;
    /*border: 1px solid white;*/
    margin: 0 18px 0 0;
    border-radius: 50%;
  }
  
  
  @media screen and (max-width: 540px) {
    .profile__image {
      margin: 0 0 26px;
    }
  }
  