.profile__row-information {
    display: flex;
    align-items: center;
    margin: 0 0 16px;
  }
  
  @media screen and (max-width: 540px) {
    .profile__row-information {
      margin-bottom: 14px;
    }
  }
  