.popup__title {
    margin: 0;
    color: #000000;
    padding-top: 34px;
    padding-left: 36px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
  }
  
  @media screen and (max-width: 540px) {
    .popup__title {
      max-width: 238px;
      padding-left: 22px;
      font-size: 18px;
      line-height: 22px;
    
    }
  }
  
  
  