.page__container {
    margin: 0 auto;
    background-color: #000;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    padding-top: 45px;
    max-width: 880px;
  
  }
  
  @media screen and (max-width: 320px){
    .page__container {
      padding-top: 28px;
    }
  }
  
  