.card {
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    width: 282px;
    margin: 0 auto;
    height: 361px;
    position: relative;
  }
  
  
  
  
  
  